
@{
    ViewBag.Title = "DangNhap";
}

<h2>Đăng nhập</h2>
<h1>@ViewBag.ThongBao</h1>
@using (Html.BeginForm())
{  
     <span>Username:</span><br />
    <input name="txtTaiKhoan" type="text" />
    <br/>
    <span>Password:</span><br />
    <input name="txtMatKhau" type="password"/>
    <br />
    <input type="submit" id="btmSubmit" name="btmSubmit" />
}
